{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"> <!-- Disallow search engines to index and follow links -->
    <title>Osama Aslam - Cover Letter</title>
    <!-- Custom Stylesheet -->
    <link href="{% static 'Cover_Letter/css/cover_letter.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Cover Letter</h1>
        </div>
        <div class="contact-info">
            <p><strong>Osama Aslam</strong></p>
            <p>Email: osama.aslam.86004@gmail.com</p>
            <p>Phone: (+92) 3074649892</p>
            <p>GitHub: <a href="https://github.com/osamaaslam86004" target="_blank" rel="noopener noreferrer external"
                    referrerpolicy="strict-origin-when-cross-origin" aria-label="Osama Aslam GitHub Profile"
                    hreflang="en">osamaaslam86004</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/osama-aslam-86004" rel="noopener noreferrer"
                    title="Visit Osama Aslam's LinkedIn profile"
                    aria-label="Osama Aslam LinkedIn Profile">osama-aslam-86004</a></p>
        </div>
        <div class="content">
            <p>[Today’s Date]</p>

            <p><strong>[Hiring Manager's Name]</strong></p>
            <p>[Company’s Name]</p>
            <p>[Company’s Address]</p>
            <p>[City, State, ZIP Code]</p>

            <p>Dear [Hiring Manager's Name],</p>

            <p>I am writing to express my interest in the Python Web Developer position at [Company’s Name],
                as advertised. I possess intermediate level skills in Python, Django, and Django REST framework,
                along with practical experience in building dynamic web applications and APIs.</p>

            <p>Despite not having a computer science degree, I have self-learned Python, Django, and Django Rest
                Framework,
                gaining hands-on experience in web development.</p>

            <p>I possess beginner-level skills in testing Django and DRF APIs using pytest, and pytest-django plugin.
                Additionaly, my skill set
                includes
                intermediate-level proficiency in HTML, beginner-level proficiency CSS, and a range
                of Django
                libraries
            </p>

            <p>In my previous projects, I have utilized Django and Django Rest Framework to build and deploy web
                applications. Notably, I developed an e-commerce platform with features such as social account
                authentication, email and OTP verification, user permissions management, and Stripe payment integration.
                The project also included tracking user behavior through Django cookie sessions. You can explore this
                project <a href="https://osama11111.pythonanywhere.com" target="_blank"
                    rel="noopener noreferrer nofollow" referrerpolicy="strict-origin-when-cross-origin"
                    aria-label="Visit Resume API Backend hosted on PythonAnywhere">here</a> and
                review the source code on <a href=" https://github.com/osamaaslam86004/E-Commrace-5-24-2024.git"
                    target="_blank" rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                    aria-label="View the E-Commrace web app source code on GitHub">>GitHub</a>.</p>

            <p>Additionally, I created an API for resume creation, which was integrated with an e-commerce website. This
                project involved implementing token-based authentication using django-rest-framework-simplejwt to ensure
                secure access to API endpoints. The deployed project can be viewed
                <a href="https://osamaaslam.pythonanywhere.com/" target="_blank" rel="noopener noreferrer nofollow"
                    aria-label="Visit E-Commerce website hosted on PythonAnywhere"
                    referrerpolicy="strict-origin-when-cross-origin">here</a>, and the code
                is available
                on <a href="https://github.com/osamaaslam86004/reumse_api-5-24-2024.git" target="_blank"
                    rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                    aria-label="View the Resume API source code on GitHub">
                    hreflang="en">GitHub</a>.
            </p>


            <p>Thank you for considering my application. Please feel free to contact me at osama.aslam.86004@gmail.com
                or (+92) 3074649892 to schedule an interview.</p>

            <p>Sincerely,</p>
            <p>Osama Aslam</p>
        </div>
        <div class="footer">
            <p>&copy; 2024 Osama Aslam</p>
        </div>
    </div>
</body>

</html>