<!DOCTYPE html>
<head>
    <!-- Structured Data (JSON-LD) for SEO -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "Osama Aslam - Python Django Developer",
        "author": {
        "@type": "Person",
        "name": "Osama Aslam",
        "url": "https://personalwebpage.pythonanywhere.com/python-django-web-developer/"
        },
        "image": "https://res.cloudinary.com/dh8vfw5u0/image/upload/cicular_crop_ms5sm0.png",
        "datePublished": "2024-03-08T12:00:00Z",
        "dateModified": "2024-03-08T12:30:00Z",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://personalwebpage.pythonanywhere.com/python-django-web-developer/"
        },
        "publisher": {
        "@type": "Organization",
        "name": "Osama Aslam Portfolio",
        "logo": {
            "@type": "ImageObject",
            "url": "https://res.cloudinary.com/dh8vfw5u0/image/upload/cicular_crop_ms5sm0.png"
        }
        },
        "description": "An Intermediate Python and Django developer specializing in APIs, web security, and performance optimization."
    }
</script>
    {% block head_content %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
