{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head_content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Site Veification -->
<meta name="google-site-verification" content="g8iojT7k3Q_eySBPK2kTLKjyNu9F3ORy0j-omyi6EN0" />

<!-- SEO Meta Tags -->
<meta name="title" content="Osama Aslam - Python Django Web Developer">
<meta name="description"
    content="Portfolio of Osama Aslam, a skilled Python Web Developer with experience in Django, REST API, Pytest, and AWS">
<meta name="keywords"
    content="Osama Aslam, Python Developer, Django Developer, REST API, Backend Developer, Web Development, AWS, Portfolio">
<meta name="author" content="Osama Aslam">
<meta name="robots" content="index, follow"> <!-- Allow search engines to index and follow links -->
<meta name="googlebot" content="index, follow">
<meta name="bingbot" content="index, follow">

<!-- Canonical URL -->
<link rel="canonical" href="https://personalwebpage.pythonanywhere.com/python-django-web-developer/">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="Osama Aslam - Python Django Web Developer">
<meta property="og:description" content="Portfolio of Osama Aslam, showcasing Python, Django, REST API, AWS expertise.">
<meta property="og:image" content="https://res.cloudinary.com/dh8vfw5u0/image/upload/cicular_crop_ms5sm0.png">
<meta property="og:url" content="https://personalwebpage.pythonanywhere.com/python-django-web-developer/">
<meta property="og:site_name" content="Osama Aslam Portfolio">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Osama Aslam - Python Django Web Developer">
<meta name="twitter:description"
    content="Portfolio of Osama Aslam, showcasing Python, Django, REST API, AWS expertise.">
<meta name="twitter:image" content="https://res.cloudinary.com/dh8vfw5u0/image/upload/cicular_crop_ms5sm0.png">
<meta name="twitter:site" content="@AnthonyTay13933">

<!-- Language -->
<meta http-equiv="content-language" content="en">

<!-- Performance Optimization -->
<meta http-equiv="Cache-Control" content="max-age=31536000, must-revalidate">

<!-- Favicon -->
<link rel="icon" href="{% static 'Resume/images/favicon-16x16.png' %}" type="image/png" sizes="16x16">

<!-- Preload Bootstrap to prioritize loading -->
<link rel="preload" href="{% static 'Resume/css/bootstrap.min.css' %}" as="style" id="bootstrap-css">/
<noscript>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</noscript>

<!-- Custom Stylesheet -->
{% compress css %}
<!-- <link href="{% static 'Resume/css/cv.css' %}" rel="stylesheet" type="text/css"> -->
<link rel="preload" href="{% static 'Resume/css/cv.css' %}" as="style" id="cv-css" />
{% endcompress %}


<title>Osama Aslam - Python Web Developer</title>
{% endblock %}

{% block content %}
<header>
    <div class="container-xxl custom_container">
        <div class="container-lg branding">
            <h1><span class="highlight">Osama Aslam</span> - Python Web Developer</h1>
        </div>
        <nav>
            <ul class="d-flex flex-wrap justify-content-between">
                <li><a href="{% url 'Cover_Letter:python-django-web-developer-cover-letter' %}">Cover Letter</a>
                </li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#bio">Bio</a></li>
                <li><a href="#summary">Summary</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="container-xxl showcase">
    <!-- Title Heading -->
    <div class="container-lg title_heading">
        <h1>Welcome to My Personal Webpage</h1>
        <p>Python Web Developer with experience in Django, REST Framework, and Pytest-Framework</p>
    </div>

    <!-- Optimized Background Image -->
    <picture class="background-image">
        <source srcset="{% static 'Resume/images/image-1440-1080.webp' %}" type="image/webp"
            media="(min-width: 1440px)">
        <source srcset="{% static 'Resume/images/image-1200-900.webp' %}" type="image/webp" media="(min-width: 1024px)">
        <source srcset="{% static 'Resume/images/image-800-600.webp' %}" type="image/webp" media="(min-width: 768px)">
        <source srcset="{% static 'Resume/images/image-400-300.webp' %}" type="image/webp" media="(max-width: 767px)">
        <img src="{% static 'Resume/images/image-1200-900.jpg' %}" alt="Showcase Image" width="1200" height="600"
            loading="eager" fetchpriority="high">
    </picture>
</section>



<div class="container-lg container">
    <div class="content">

        <section id="skills" class="skills">
            <h2>Skills</h2>
            <div class="wrapper_according-container">

                <div class="accordion accordion-flush according_container" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <strong>Programming Languages</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Python - Intermediate</li>
                                    <li>HTML - Intermediate</li>
                                    <li>CSS - Beginner</li>
                                    <li>Javascript - Intermediate <span class="badge bg-info">New</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <strong>Web Development Frameworks</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Django - Intermediate</li>
                                    <li>Django REST Framework - Intermediate</li>
                                    <li>Pytest - Beginner</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <strong>Cloud Platforms</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>AWS &#40;EC2, RDS, S3&#41; - Beginner</li>
                                    <li>Digital Ocean Droplets - Beginner</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                <strong>Other</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>GitHub - Beginner</li>
                                    <li>Docker - Beginner</li>
                                    <li>Bootstrap - Beginner</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header accordion_header_heading" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                <strong>Familiarity with Django Libraries</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><strong>Familiarity with Django Libraries:</strong>
                                        Twilio, SendGrid, Axes, Phonenumber Field, Cloudinary Storage, Stripe API,
                                        Django JSON Schema, drf-spectacular, Django-silk, Django-countries,
                                        Django-crispy-forms,
                                        django-bootstrap5, djangorestframework-simplejwt, django-formtools,
                                        pytest-django,
                                        Faker
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!--Project section  -->
        <section id="projects" class="projects">
            <h2>Projects</h2>

            <ul class="projects-list">
                <!-- Backend Projects Here -->
                <h3>Backend</h3>
                <li class="e-commrace">
                    <!-- ist Project -->
                    <h4>E-Commerce</h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack container-fluid">
                        <span class="badge rounded-pill bg-success">Django</span>
                        <span class="badge rounded-pill bg-dark text-white">Pytest</span>
                        <span class="badge rounded-pill bg-primary">Stripe API</span>
                        <span class="badge rounded-pill bg-danger text-white">Twilio API</span>
                        <span class="badge rounded-pill bg-warning text-dark">Cloudinary</span>
                        <span class="badge rounded-pill bg-info text-white">SendGrid API</span>
                        <span class="badge rounded-pill bg-warning text-dark">Google Client API</span>
                        <span class="badge rounded-pill bg-dark">
                            <a href="https://github.com/osamaaslam86004/Resume-API-Backend" target="_blank"
                                rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                                hreflang="en" class="resume-api-backend-link">Resume API Backend</a></span>
                    </div>
                    <p>
                        A Django-based E-Commerce platform with secure authentication, user roles,
                        product management, payment handling, and user browsing history tracking.
                        Explore the deployed
                        project at:
                        <a href="https://osama11111.pythonanywhere.com" target="_blank" rel="noopener noreferrer"
                            referrerpolicy="strict-origin-when-cross-origin" title="E-Commerce Website"
                            aria-label="Explore the deployed project:">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/E-Commrace.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="GitHub repository for E-Commerce Website"
                            aria-label="Explore the GitHub repository for E-Commerce Website">E-Commrace</a>
                    </p>
                    <ul class="ul-features">Features
                        <li>Authentication & Authorization:
                            <ul>
                                <li>Signed cookie-based session authentication</li>
                                <li>Authentication: Single-factor, Two-factor & Google OAuth2.0</li>
                                <li>Password reset: Email & SMS</li>
                            </ul>
                        </li>
                        <li>User Roles: Role-based permissions and group management.</li>
                        <li>Image Management:Cloudinary</li>
                        <li>Content Management: CKEditor.</li>
                        <li>User History: Session-based tracking</li>
                        <li>Payment Handling: Stripe API</li>
                    </ul>
                </li>

                <!-- 2nd Project -->
                <li class="resume-api-backend-li">
                    <h4>API for Resume Creation</h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack">
                        <span class="badge rounded-pill bg-success">Django</span>
                        <span class="badge rounded-pill bg-primary">Django Rest Framework</span>
                        <span class="badge rounded-pill bg-dark text-white">Pytest Framework</span>
                        <span class="badge rounded-pill bg-warning text-dark">drf-spectacular</span>
                        <span class="badge rounded-pill bg-warning text-dark">jsonschema</span>
                    </div>
                    <p>
                        A Django Rest Framework API for generating resumes that enables users to create, update, and
                        manage resumes securely, integrated with an E-Commerce website. Explore the deployed project
                        at: <a href="https://osamaaslam.pythonanywhere.com" target="_blank" rel="noopener noreferrer"
                            referrerpolicy="strict-origin-when-cross-origin"
                            title="Django Rest Framework API for generating resumes integrated with an e-commerce website"
                            aria-label="Explore the deployed project">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/Resume-API-Backend.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="GitHub repository for Django Rest Framework API for generating resumes"
                            aria-label="Explore the GitHub repository for Django Rest Framework API for generating
                            resumes">Resume-API-Backend</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Secure authentication with JWT (JSON Web Token).</li>
                        <li>Rate-limited to 200 requests per day for all users.</li>
                        <li>CRUD operations for managing resumes.</li>
                        <li>Fully tested using Pytest Framework.</li>
                        <li>Swagger API documentation.</li>
                    </ul>
                </li>
                <!-- 3rd Project: Portfolio Website -->
                <li class="portfolio-li">
                    <h4>Portfolio Website</h4>
                    <div class="tech-stack">
                        <span class="badge rounded-pill bg-success">Django</span>
                        <span class="badge rounded-pill bg-primary">HTML</span>
                        <span class="badge rounded-pill bg-dark text-white">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">Bootstrap</span>
                        <span class="badge rounded-pill bg-info text-white">JSON-LD</span>
                        <span class="badge rounded-pill bg-danger text-white">django-csp</span>
                        <span class="badge rounded-pill bg-warning text-dark">Sitemap</span>
                    </div>
                    <p>
                        A Django-powered portfolio website. Explore the deployed project at:
                        <a href="https://personalwebpage.pythonanywhere.com" target="_blank" rel="noopener noreferrer"
                            referrerpolicy="strict-origin-when-cross-origin" title="Django-based Portfolio Website"
                            aria-label="Explore the deployed portfolio website">
                            Demo
                        </a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/personal-webpage.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="GitHub repository for Django-based Portfolio Website"
                            aria-label="Explore the GitHub repository for Django-based Portfolio Website">
                            Portfolio
                        </a>
                    </p>
                    <ul class="ul-features"><strong>What I Learned</strong>
                        <li>Structured data (JSON-LD) for better search ranking.
                        </li>
                        <li>Security Policies:`django-csp` to protect against cross-site scripting (XSS).
                        </li>
                        <li>Sitemap: Django sitemap for Google indexing.</li>
                        <li>Enhanced Accessibility: Improved &lt;a&gt; attributes for LinkedIn, GitHub, and Vercel.
                        </li>
                        <li>Performance Enhancements: Optimized robots.txt for better search engine crawling.</li>
                    </ul>
                </li>
            </ul>


            <!-- Bootstrap Dvider -->
            <div class="text-success custom-divider">
                <hr>
            </div>


            <!-- Front-End Projects Here-->
            <ul>
                <h3>Front-End</h3>
                <li class="resume-builder-li">
                    <h4>Resume Builder</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-dark">
                            <a href="https://github.com/osamaaslam86004/Resume-API-Backend" target="_blank"
                                rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                                hreflang="en" class="resume-api-backend-link">Resume API Backend</a></span>
                    </div>
                    <p>
                        Resume Builder is a front-end application that allows users to create and download
                        professional
                        resumes. The project is built using HTML, CSS, and JavaScript, and it is integrated with the
                        Resume
                        API Backend to fetch user data and handle resume creation.. Explore the deployed project at:
                        <a href="https://resume-builder-integrated-with-resume-api.vercel.app/" target="_blank"
                            rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin"
                            title="Visit Resume Builder" aria-label="Explore the deployed project at:">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/Resume-Builder.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="Visit GitHub repository for Resume Builder"
                            aria-label="Explore the GitHub repository for Resume Builder">Resume Builder</a>
                    </p>
                </li>
                <li class="image-slider-photoSwipe">
                    <h4>Image Slider With PhotoSwipe <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack">
                        <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-dark">PhotoSwipe.js</span>

                    </div>
                    <p>
                        Image zooming and gallery functionality, making
                        it perfect for e-commerce product displays.
                        Explore the deployed project at:
                        <a href="https://photo-swipe.vercel.app/" target="_blank" rel="noopener noreferrer"
                            referrerpolicy="strict-origin-when-cross-origin" title="Image Gallery with PhotoSwipe.js"
                            aria-label="Explore the deployed project at:">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/PhotoSwipe.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="GitHubImage repo for Image Gallery with PhotoSwipe.js"
                            aria-label="Explore the GitHub repository for Image Slider with PhotoSwipe">Image Slider
                            with
                            PhotoSwipe</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Displays a large featured image with a thumbnail gallery</li>
                        <li>Allows zooming and swiping on mobile and desktop</li>
                        <li>Uses Bootstrap badges and buttons.</li>
                        <li>Built using CSS flexbox for responsiveness</li>
                    </ul>

                </li>
                <li class="scroll-driven-animation">
                    <h4>Scroll Driven Animation <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-dark">AOS.js</span>
                    </div>
                    <p>
                        How to create engaging web experiences by animating elements as they enter the viewport
                        during scrolling. using CSS3 and JavaScript, including implementations with AOS, waypoints,
                        and built-in scroll
                        timelines.
                        Explore the deployed project at:
                        <a href="https://scroll-driven-animation-two.vercel.app/" target="_blank"
                            rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin"
                            title="Scroll Driven Animation" aria-label="Explore the deployed project">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/scroll-driven-animation.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="Scroll Driven Animation"
                            aria-label="Explore the GitHub repository for Scroll Driven Animation">Scroll Driven
                            Animation with AOS.js</a>
                    </p>
                </li>
                <li class="table-hover-transition">
                    <h4>Table with Hover Transition <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                    </div>
                    <p>
                        This project demonstrates a responsive table with a smooth hover effect using Bootstrap 5
                        and CSS3.
                        Explore the deployed project at:
                        <a href="https://table-transform-scale.vercel.app/" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            title="Table Transform Scale" aria-label="Explore the deployed project">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/table_transform_scale.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="Table Transform Scale"
                            aria-label="Explore the GitHub repository for Table Transform Scale">Table with Hover
                            Transition</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Rows scale slightly and have a shadow effect on hover</li>
                        <li>Uses Bootstrap's table styling for a modern UI</li>
                        <li>Fully compatible with different screen sizes</li>
                    </ul>
                </li>
                <li class="fluid-typography-vs-breakpoints">
                    <h4>Fluid Typography vs Breakpoints <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                    </div>
                    <p>
                        It provides practical examples to understand how
                        text scaling behaves across different viewport sizes.
                        Explore the deployed project at:
                        <a href="https://typography-vs-breakpoints.vercel.app/" target="_blank"
                            rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin"
                            title="Typography Vs Breakpoints" aria-label="Explore the deployed project"
                            hreflang="en">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/typography-vs-breakpoints.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="Typography Vs Breakpoints" aria-label="Explore the GitHub repository for
                            Fluid Typography vs Breakpoints">Fluid Typography
                            vs
                            Breakpoints</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Uses clamp() to dynamically scale text sizes.</li>
                        <li>Uses media queries to set font sizes at specific
                            breakpoints.</li>
                        <li>Shows the current font sizes of elements dynamically.</li>
                    </ul>
                </li>
                <li class="typing-animations">
                    <h4>Typing Animations <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-dark">Typed.js</span>
                    </div>
                    <p>
                        Animated text effects for engaging web experiences.
                        Explore the deployed project at:
                        <a href="https://typedjs.vercel.app/" target="_blank" rel="noopener noreferrer"
                            referrerpolicy="strict-origin-when-cross-origin" title="Typing Animations"
                            aria-label="Explore the deployed project" hreflang="en">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/typedjs.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            hreflang="en" title="GitHub Typing Animations"
                            aria-label="Explore the GitHub repository for Text Animations">Text Animations</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Bulk typing, Fading effects, and Dynamic placeholders</li>
                        <li>Smart cursors, and Delayed typing effects</li>
                    </ul>
                </li>
                <li class="parallax-animations">
                    <h4>Parallax Animations <span class="badge bg-info">New</span></h4>
                    <!-- Semantic div for technology stack -->
                    <div class="tech-stack"> <span class="badge rounded-pill bg-danger">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS3</span>
                        <span class="badge rounded-pill bg-warning text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-dark">Ukiyo.js</span>
                        <span class="badge rounded-pill bg-dark">Lenis</span>
                        <span class="badge rounded-pill bg-dark">AOS.js</span>
                    </div>
                    <p>
                        Multiple implementations, each showcasing different parallax effect combined with
                        scrolling animations.
                        Explore the deployed project at:
                        <a href="https://ukiyo-parallax-with-aos-js-and-lenis-js.vercel.app/" target="_blank"
                            rel="noopener noreferrer" title="Parallax effect combined with
                            Scrolling Animations." aria-label="Explore the deployed project">Demo</a>.
                        GitHub:
                        <a href="https://github.com/osamaaslam86004/parallax.git" target="_blank"
                            rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                            title="Visit GitHub repository for Parallax effect"
                            aria-label="Checkout GitHub repository for Parallax effect" hreflang="en">Parallax
                            Effects</a>
                    </p>
                    <ul class="ul-features"><strong>Features</strong>
                        <li>Parallax effect for Image, and Vedio</li>
                        <li>Smooth Scrolling</li>
                        <li>Pausing Scroll on Modal Open, and Video Play</li>
                    </ul>
                </li>
            </ul>

        </section>

        <section id="summary" class="summary">
            <h2>Summary</h2>
            <p>
                I am a self-taught Python web developer with 1 year of hands-on experience in Backend Web
                development.
                Despite not having a computer science degree or formal work experience in the software industry, I
                have independently gained proficiency in Django, Django REST Framework, Integration tests with
                pytest-framework, and AWS (EC2, RDS, and S3).
            </p>
        </section>
        <section id="bio" class="bio">
            <h2>Bio</h2>
            <p>
                My name is Osama Aslam. I hold a Master of Philosophy in Physics from Punjab University Lahore, with
                a CGPA of 3.5, a Master of Science in Physics, and a Bachelor of Science from the same university.
            </p>
        </section>

        <section id="contact" class="contact">
            <div class="container-lg contacts">
                <h2>Contact</h2>
                <div class=".flex-lg-row">
                    <div>
                        <p><strong>Email:</strong> <a
                                href="mailto:osama.aslam.86004@gmail.com">osama.aslam.86004@gmail.com</a>
                        </p>
                        <p><strong>Phone:</strong> (+92) 3074649892</p>
                        <p><strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/osama-aslam-86004"
                                rel="noopener noreferrer" title="Visit Osama Aslam's LinkedIn profile"
                                aria-label="Osama Aslam LinkedIn Profile">osama-aslam-86004</a></p>
                        <p><strong>GitHub:</strong> <a href="https://github.com/osamaaslam86004" target="_blank"
                                rel="noopener noreferrer external" referrerpolicy="strict-origin-when-cross-origin"
                                hreflang="en">https://github.com/osamaaslam86004</a></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="profile-image-img"
                            src="https://res.cloudinary.com/dh8vfw5u0/image/upload/cicular_crop_ms5sm0.png"
                            alt="Osama Aslam - Python & Django Developer" loading="lazy" decoding="async"
                            crossorigin="anonymous" referrerpolicy="no-referrer" fetchpriority="high">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<button id="myBtn" title="Go to top">Top</button>

<footer>
    <p>Osama Aslam &copy; 2024</p>
</footer>

{% compress js %}
<!-- JavaScript with Security & Performance -->
<script src="{% static 'Resume/js/preload_styles.js' %}" referrerpolicy="strict-origin-when-cross-origin"></script>

<!-- JavaScript with Security & Performance -->
<script src="{% static 'Resume/js/cv.js' %}" defer referrerpolicy="strict-origin-when-cross-origin"></script>
{% endcompress js %}

<!-- Bootstrap script -->
<script type="text/javascript" src="{% static 'Resume/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}

</html>